# Example dotenv file
# Modify and rename to .env before launching server.

# This is the key for your telegram bot. Obtain from @botfather within the telegram app.
TELEGRAM_BOT_TOKEN=TOKEN

# This is the path to where you would like the downloaded videos to be saved on disk
DOWNLOAD_DIR=./downloads

# This is your telegram user id. This check prevents other people from using your bot
RESTRICT_USER=123456